/* .card{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px 5px grey;
}
.card label{
    font-size: medium;
    margin-left: 5px;
}
.card a{
    font-size: small;
    margin-left: 5px;
} */